
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {

    --turquesa: #00D5BA;
    --gray: #D7D7E0;
    --stamina: #321B22;
    --verde: #00E498;

    font-family: 'Mulish', sans-serif;

    height: 100%;
}

body {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto 0;
}

h1 {
    font-size: 32px;
    color: var(--stamina);
    font-weight: 600;
    margin: 0;
    padding: 16px;
}

span {
    font-size: 18px;
    color: var(--stamina);
    font-weight: 300;
    padding: 8px;
}

.player-turn {
    display: flex;
    justify-content: center;
    gap: 16px;
}

#wich-player {
    width: 16px;
}

table {
    width: 300px;
    height: 300px;
    margin: 24px auto;
}

.field {
    text-align: center;
    height: 56px;
    width: 56px;
}

#a1, #a2, #b1, #b2{
    border-bottom: .4px solid var(--gray);
    border-right: .4px solid var(--gray);
}

#c1, #c2 {
    border-right: .4px solid var(--gray);
}

#a3, #b3 {
    border-bottom: .4px solid var(--gray);
}

img {
    width: 40px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 24px 16px;
}

.scoreboard img {
    width: 16px;
}

#ball-player, #xis-player {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 24px;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.05);
}

footer {
    color: var(--stamina);
    padding: 24px;
    width: 100%;
    align-items: center;
}

/*MODAL*/

.active-modal{
	visibility: hidden;
	position: absolute;
	background-color: black;
	width: 100%;
	height: 100%;
	opacity: .3;
}

#winner-modal {
    background-color: white;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 8px;

    width: 300px;
		height: 200px;
    padding: 32px;

    display:flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		gap: 16px;


		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
}

#winner-modal h3 {
    color: var(--stamina);
    font-size: 22px;
    font-weight: 600;
}

#winner-modal button {
    background-color: white;
    padding: 8px;
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 16px;
    color: #707070;
    cursor: pointer;
}

#winner-modal button:hover{
    text-decoration: underline;
}

#winner-modal button img {
    width: 16px;
}







