
* {
    /* reset navegator presets*/

    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {

    /*Colors*/
    --turquesa: #00D5BA;
    --gray: #D7D7E0; 
    --stamina: #321B22;
    --verde: #00E498;

    /*Font*/
    font-family: 'Mulish', sans-serif;

    height: 100%;
}

body {
    text-align: center;   
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto 0;
}

h1 {
    font-size: 32px;
    color: var(--stamina);
    font-weight: 600;
    margin: 0;
    padding: 16px;
}


span {
    font-size: 18px;
    color: var(--stamina);
    font-weight: 300;
    padding: 8px;
}

.grid-table {
    display: grid; 
    grid-template-columns: 104px 104px 104px; 
    grid-template-rows: 104px 104px 104px; 
    gap: 0px 0px; 
    grid-template-areas: 
      "a1 a2 a3"
      "b1 b2 b3"
      "c1 c2 c3"; 
      
    justify-content: center;
    padding: 32px;
  }

 .field {
    display: flex;
    justify-content: center;
    padding: 24px;
 }

 #a1, #a2, #b1, #b2{
    border-bottom: .4px solid var(--gray);
    border-right: .4px solid var(--gray);
 }

 #c1, #c2 {
     border-right: .4px solid var(--gray);
 }

 #a3, #b3 {
     border-bottom: .4px solid var(--gray);
 }
 
 
 img {
     width: 80px;
 }

 .scoreboard {
     display: flex;
     justify-content: center;
     gap: 24px;
     padding: 24px 16px;    
 }

 .scoreboard img {
     width: 16px;
 }

 #ball-player, #xis-player {
     display: flex;
     gap: 32px;
     justify-content: center;
     align-items: center;
     width: 80px;
     height: 24px;
     padding: 16px;
     border-radius: 4px;
     box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.05);
     
 }

 footer {
    color: var(--stamina);
    padding: 24px;
    width: 100%;
    align-items: center;
 }








